afinn==0.1
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
idna==3.10
joblib==1.4.2
networkx==3.4.2
nltk==3.9.1
numpy==2.1.2
packaging==24.1
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
regex==2024.9.11
requests==2.32.3
scikit-fuzzy==0.5.0
scipy==1.14.1
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
urllib3==2.2.3
vaderSentiment==3.3.2
